
<!DOCTYPE html>
<style>

.footer
{
  position:relative;
  bottom: 0;
  width: 100%;
  background-color:white;
  color: black;
  text-align: center;

}


div.bottom-position
{
    margin-top:2%;
    text-align: center;
    
}

div.in-line-buttons
{
    display: inline;
    justify-content: center;
    padding-right: 2%;
    padding-left: 2%;
}

div.email-address
{
    display:flow-root;
    justify-content: right;

}


</style>

    <footer>
        <div class="relative">
        <div class="bottom-position">
            <div class="in-line-buttons">
                <a href="https://github.com/Pingimingi22">
                <img src="assets/button_img/github-icon.png" alt="github-icon" width="35" height="35"></a>
            </div>
            <div class="in-line-buttons">
                <img src="assets/button_img/youtube-icon.png" alt="github-icon" width="35" height="35">
            </div>
            <div class="in-line-buttons">
                <img src="assets/button_img/twitter-icon.png" alt="twitter-icon" width="35" height="35">
            </div>
            
            <div class="email-address">email: daniel@ac.com.au</div>
            

        </div>
        </div>
    </footer>
