<!DOCTYPE html>
<html style="background-color: whitesmoke">
<style>
h1
{
    text-align: center;
}
body
{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    

}
.inline-div
{
    display: inline;
    justify-content: center;
    padding-right: 2%;
    padding-left: 2%;

}
</style>


<header>
    {% include header.html %}
    <!--
    <head>
    <h1>Daniel Hadzajlic</h1>

    
    {% for thing in site.pages %}
    {%if thing.title%}
    <div class="inline-div">
    <h3 style="display:inline;"><a href="{{thing.url}}">{{thing.title}}</a></h3>
    </div>
    {%endif%}
    {%endfor%}
    -->


    
    <body>
        Hi, I'm Daniel Hadzajlic, a games programmer with a particular interest in network programming. I'm currently completing my Advanced Diploma of Professional Game Development at AIE.
        Below are some of my projects.
    </body>    
    </head>
    <body>
        <h2>Projects</h2>
        <hr>
        <h3>DanNet</h3>
            <body>DanNet is a networking library that I created during my time at AIE. It's built upon Winsock2 and only uses UDP sockets. It features reliable UDP packets and simulated
                lag. 
                <br>
                <br>
                Check out the GitHub page at: <a href="https://github.com/Pingimingi22/DanNet">DanNetGitHub</a>
            </body>
        <h3>Codename: Pariah</h3>
        <body>I am currently apart of a team of 11 people working on Codename: Pariah for our end of year project. The game is a fast paced FPS inspired by the Wolfenstein games and Doom. My work has been primarily 
            creating the FPS controller and ground combat mechanics. A download link will be available soon.
        </body>
        <h3>GMTK 2021 - The Mountain Brothers</h3>
        <body>For this years GMTK, I decided to participate and I created.. an interesting game. While the design choices might be questionable, I am proud of what I was able
            to achieve in less than 2 days worth of work.
            <br>
            <br>
            Check it out at Itch.io: <a href="https://pingimingi.itch.io/the-mountain-brothers">TheMountainBrothersItchIo</a>
            <br>
            Or check out the GitHub page: <a href="https://github.com/Pingimingi22/GMTK-2021">TheMountainBrothersGitHub</a>

        </body>

        <h3>Prototype Multiplayer Turn Based Strategy Game</h3>
        <body>
            Okay, so the title is a work in-progress but anyways, this is a project that I've been working on for the past couple of weeks in my spare time. I don't have a lot of time to
            dedicate to it right now, and it's not complete yet, but I think its worth showing off the progress so far.
            <br>
            <br>
            The purpose of this project is to get some practice using CMake (why the Git repo is so messy) and to have fun working with the RakNet networking library.
            <br>
            <br>
            GitHub link: <a href="https://github.com/Pingimingi22/Prototype-Multiplayer-Turnbased-Strategy-Game">PrototypeMultiplayerTurnBasedStrategyGameGitHub</a>
            <br>
            Youtube dev log: <a href="https://youtu.be/qTe8Ex3hluk">TurnedBasedStrategyDevLog001</a>

            
        </body>
        
    </body>  
    </div>
    {% include footer.html %}
</header>




</html>
