<!DOCTYPE html>
<style>
    .wrapper
    {
        text-align: center;

    }

</style>


<html>
<div class="wrapper">
    <h1>Resource Archive</h1>
    Curated picks by yours truly.
    <br>
    <br>
    <a href="https://dantheprogrammingman.net">Back to main page</a>
    <body></body>
    
</div>
<h3>OpenGL:</h3>
    <a href="https://learnopengl.com/">LearnOpenGL (Great tutorial series.)</a> <br>
    <a href="https://ogldev.org/">OGLDev Modern OpenGL Tutorials (Another great tutorial series, gets a little more advanced.)</a> <br>
    <a href="http://www.opengl-tutorial.org/beginners-tutorials/tutorial-3-matrices/#exercises">opengl-tutorial Tutorial 3 : Matricies (Particularly good section on matrices. Rest of the tutorial is great too.)</a> <br>
    <a href="https://thebookofshaders.com/01/">The Book of Shaders (Great section on what shaders are.)</a> <br>

<h3>Socket Programming:</h3>
    <a href="https://people.inf.elte.hu/nikovits/HALOZAT/gyak_socket/beej.html">Beej's Guide to Network Programming (The best socket programming guide, informative and short. HTML version.)</a> <br>
    <a href="https://people.inf.elte.hu/nikovits/HALOZAT/gyak_socket/Beej_network2015.pdf">Beej's Guide to Network Programming (PDF version.)</a> <br>
    <a href="https://cis.temple.edu/~giorgio/old/cis307s96/readings/docs/sockets.html">BSD Sockets: A Quick And Dirty Primer (Great short snippet to get straight into sockets.)</a> <br>
    <a href="https://www.computerworld.com/article/2584368/sockets.html">Computerworld Article on Sockets (State of socket programming in todays day and age. Interviews with Beej and Jim Frost.)</a> <br>
    <a href="https://mathcs.clarku.edu/~jbreecher/cs280/UNIX%20Network%20Programming(Volume1,3rd).pdf">UNIX Network Programming by Richard Stevens. (Probably the best and most in depth book on everything networking. PDF version.)</a> <br>
    <a href="https://docs.microsoft.com/en-us/windows/win32/winsock/getting-started-with-winsock">Microsoft | Getting Started with Winsock. (Good for windows specific differences in socket programming.)</a> <br>
    <a href="https://www.intechopen.com/chapters/68840">Serialization in Object-Oriented Programming Languages by Konrad Grochowski, Michal Breiter and Robert Nowak. (Network programming involes
        a lot of serialisation and this explains it pretty well!)</a> <br>
    <a href="https://gafferongames.com/">Gaffer On Games (Great articles on heaps of different networking topics.)</a> <br>
    <a href="https://blog.cloudflare.com/doom-multiplayer-workers/">Multiplayer Doom on Cloudflare Workers | (Proof that emscripten can work with sockets.)</a> <br>
    <a href="https://www.gamasutra.com/view/feature/3094/1500_archers_on_a_288_network_.php">1500 Archers on a 28.8: Network Programming in Age of Empires and Beyond | (Article on networking problems
        faced in Age of Empires.)</a> <br>

<h3>Oblique Projections: (Famously used in Ultima Online)</h3>
<a href="https://www.cs.unm.edu/~angel/AW/chap05d.pdf">Some OpenGL book about projections. | (PDF version)</a> <br>



</html>